@-webkit-keyframes vueDatePicker {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0) scale(1);
        transform: translate(0) scale(1);
    }
}

@keyframes vueDatePicker {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0) scale(1);
        transform: translate(0) scale(1);
    }
}

.vue-datepicker {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #666;
    width: 200px;
    display: inline-block;
}

.vue-datepicker * {
    margin: 0;
    padding: 0;
}

.vue-datepicker input {
    display: block;
    width: 245px;

    padding-left: 6px;

    outline: none;
}

.vue-datepicker .vue-datepicker-panels {
    position: absolute;
    z-index: 99999;
    left: 0;
    background-color: white;
    margin-top: 4px;
    width: 252px;
    border: 1px solid #DDD;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
    padding: 10px 6px;
    -webkit-animation: vueDatePicker 0.1s ease-out;
    animation: vueDatePicker 0.1s ease-out;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-month {
    padding-bottom: 4px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-align: center;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-month a {
    float: left;
    display: block;
    width: 35px;
    cursor: pointer;
    color: #999;
    font-size: 12px;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-month a:hover {
    background-color: #F5F6F7;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-month span {
    float: left;
    display: block;
    width: 168px;
    font-size: 14px;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-month span.vue-datepicker-btn:hover {
    background-color: #F5F6F7;
    cursor: pointer;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 {
    width: 228px;
    margin-left: 5px;
    border-collapse: collapse;
    text-align: center;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb thead,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 thead {
    height: 35px;
    line-height: 35px;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb thead tr,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 thead tr {
    border: none;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb thead tr th,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 thead tr th {
    width: 35px;
    font-size: 12px;
    border: none;
    font-weight: normal;
    color:#8391a5;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr {

}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td {
    height: 31.5px;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed {
    cursor: pointer;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed span,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed span {
    display: block;
    height: 31.7px;
    line-height: 31.7px;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed:hover,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed:hover {
    background-color: #e4e8f1;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-on span,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-on span {
    color: #FFF;
    background-color: #007fff;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-invalid,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-invalid {
    cursor: default;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-invalid span,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-invalid span {
    color: #ccc;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-invalid:hover,
.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-invalid:hover {
    background-color: transparent;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr {

}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td {
    height: 31.5px;
    font-size: 13px;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed {
    cursor: pointer;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed span {
    display: block;
    height: 39.75px;
    line-height: 39.75px;
}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-time-panel{
  height: 128px;
}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-time{
  padding-top: 4px;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  text-align: center;
  background-color: #F5F6F7;
}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-time a{
  display: inline-block;
    width: 50%;
    height: 35px;
    line-height: 27px;
    float: left;
}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-timeUnit{
  width: 33.3%;
  float: left;
  height: 100%;
  text-align: center;
}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-timeUnit .timeBtn{
  height: 40%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.vue-datepicker .vue-datepicker-panel .vue-datepicker-timeUnit .timeBtn i{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-timeUnit .numPanel{
  height: 20%;
  width: 100%;
  position: relative;
}
.vue-datepicker .vue-datepicker-panel .vue-datepicker-timeUnit .numPanel span{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}
.closeIcon{
  position: absolute;
  width: 20px;
  height: 30px;
  line-height: 30px;
  color: black;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
.dateInputPanel {
  width: 25px;
  text-align: center;
  padding: 0;
  border: 0px solid red;
}
.vue-datepicker input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
    color: #808080;
    display: block;
    font-size: inherit;
    height: 30px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding-right: 35px;
    background-image: none;
    width: 100%;
}
